# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- azure-pipelines

pool: 'Default'

steps:
- script: |
   matlab -nojvm -nodisplay -wait -nosplash -logfile C:\Users\Helge Zoellner\Documents\MATLAB\output.log -r " pushTest; quit"
  displayName: 'Unit Tests'
