# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- azure-pipelines

pool: 'Default'

steps:
- script: |
   matlab -nojvm -nodisplay -nosplash -r "fileID = fopen('C:\Users\Helge Zoellner\Documents\MATLAB\exp.txt','w');fprintf(fileID,'Hello from Matlab!');fclose(fileID); quit"
  displayName: 'Unit Tests'
